*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
@font-face {
    font-family: 'PixelifySans';
    src: url('./assets/Pixelpurl-0vBPP.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
body {
    max-width: 425px;
    margin: auto;
}
body, button, input, select {
    font-family:  'PixelifySans', Georgia, serif;
}
button, input, select {
    font-family: inherit;
    font-size: inherit;
}
.card {
    min-height: 100dvh;
}
h1 {
    font-size: 3.5rem;
    margin: 0 auto 20px;
    text-align: center;
}
label {
    font-size: 2rem;
}
input, button, select {
    font-size: 2rem;
    height: 3rem;
    margin-bottom: 10px;
}
input, select {
    opacity: 0.8;
    padding: 10px 20px;
    outline: solid 4px black;
}
#anytimePickerCheckbox {
    height: 20px;
    outline: none;
}
button {
    margin-top: 20px;
    height: 4rem;
    color: white;
    background: deeppink;
    transition: transform 0.1s ease;
    border: outset 4px deeppink;
}
button:active {
    border: inset 4px deeppink;
}
button:hover {
    cursor: pointer;
}
.card, dialog {
    background: lightpink;
    padding: 2rem;
    border: dashed 4px deeppink;
}
dialog.modal {
    width: 100%;
    max-width: 425px;
}
.form-input {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.btn-x {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    width: 3rem;
}
@media(max-width: 320px) {
    html {
        font-size: 14px;
    }
}
.modal[open] { /* Only applies when modal is open */
    display: flex;
    flex-direction: column;
}
#invitationModal {
    gap: 1.3rem;
}

.invi-anchor, p {
    font-size: 1.4rem;
    display: block;
}
.form-input > p {
    font-size: 1.2rem;
    margin-top: -10px;
}
.btn-copy {
    align-self: center;
    width: 50%;
    height: 40px;
}
.btn-done {
    width: 100%;
}
#modal-title {
    margin-bottom: 20px;
}
img {
    width: 100%;
    border: dashed 4px black;
}
.btn-container {
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.btn-yes {
    width: 40%;
    left: 0;
    position: absolute;
    z-index: 1;
    transform: scale(1.3);
    transform-origin: left;
}
.btn-no {
    width: 30%;
    right: 0;
    font-size: 1.5rem;
    position: relative;
    color: black;
    background: lightgray;
    border: outset 4px lightgray;
}
.btn-no:active {
    border: inset 4px lightgray;
}
#anytimePickerBox {
    margin-top: -10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#anytimePickerBox label {
    font-size: 1.8rem;
}
#anytimePickerCheckbox {
    width: 20px;
    margin: 0;
}
.btn-confirm {
    width: 100%;
}