body, button, input, select {
    font-family: Georgia, Garamond, serif;
}
.card {
    min-height: 100dvh;
}
h1 {
    font-size: 1.6rem;
    margin: 0 auto 40px;
    text-align: center;
}
label {
    font-size: 1.2rem;
}
input, button {
    font-size: 1.4rem;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}
select {
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
}
input, select {
    opacity: 0.8;
    padding: 10px 20px;
}
button {
    margin-top: 20px;
    height: 60px;
    border: double 4px;
    color: white;
    background: deeppink;
}
button:hover {
    cursor: pointer;
}
.card, dialog {
    background: lightpink;
    padding: 5%;
    border: dashed 4px deeppink;
    max-width: 425px;
    margin: 0 auto;
}
.form-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
dialog {
    margin: auto;
}
@media (max-width: 320px) {
    button {
        font-size: 1.2rem;
    }
}
.modal[open] { /* Only applies when modal is open */
    display: flex;
    flex-direction: column;
}
#invitationModal {
    gap: 20px;
}

.invi-link {
    display: block;
}
.btn-copy {
    align-self: center;
    width: 50%;
    border: none;
    height: 40px;
}
.btn-done {
    width: 100%;
}
#modal-title {
    margin-bottom: 20px;
}
img {
    width: 100%;
}
.btn-container {
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.btn-yes {
    width: 40%;
    left: 0;
    position: absolute;
    z-index: 1;
    transform: scale(1.3);
    transform-origin: left;
}
.btn-no {
    transform: scale(0.8);
    right: 0;
    position: relative;
    color: black;
    background: lightgray;
}
.btn-confirm {
    width: 100%;
}